/*STYLE for edwinsaul.com */


html, body {
  height        : 100%;
  font-size     : 1.05rem;
}
body {
  display       : flex;
  flex-direction: column;
}

/* header-container-------- */
.row-header{
  padding-top   : 20px;
  padding-bottom: 20px;
  min-height    : 17rem;  
}
.avatar-picture{
  margin        : 5px; 
  max-height    : 300px;
}

/* content------------------*/
#content_page {
  flex: 1 0 auto;
}
.air {
  margin-top    : 20px;
  margin-bottom : 20px;
  padding-top   : 30px;
  padding-bottom: 30px;
}



/* footer ----------------- */
.style-footer {
  margin-top    : 20px;
  flex-shrink   : 0;
}
.btn-footer {
  padding-top   : 20px;
  padding-bottom: 20px;
  font-size     : 1.1em;
}
.icon-footer {
  margin        : 10px;
}
